.poster {
    max-width: min(100% - 2rem, 30rem);
    margin: 0 auto;
}

.content {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.content * {
    text-align: left;
}

.content {
    text-align: center;
}