.title a {
    text-decoration: none;
    color: darkgreen;
}

.buttonsWrapper {
    display: flex;
    padding: 0.5rem;
    font-size: 1.2rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1rem;
    row-gap: 0.2rem;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 2px solid rgb(74, 114, 74);
}

.buttonsWrapper * {
    text-wrap: nowrap;
}

.headerImage {
    width: 100%;
    height: 100%;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-family: "Lemon", serif;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .buttonsWrapper {
        column-gap: 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 2.5rem;
    }

    .buttonsWrapper {
        column-gap: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 3rem;
    }

    .buttonsWrapper {
        column-gap: 3rem;
    }
}