.innerWrapper {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.row:first-child {
    background-color: #e3e9df;
}

.img {
    max-height: 20rem;
    max-width: min(10rem, 60%);
}

.imgWrapper {
    text-align: center;
}

.textWrapper {
    flex: 1;
}

.block {
    display: flex;
}

.textButton {
    display: inline-block;
    padding: 1rem;
    background-color: green;
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .innerWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
    }

    .imgWrapper {
        text-align: right;
    }

    .img {
        max-height: 40rem;
        max-width: min(30rem, 100%);
    }

}