@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

#root {
  background-color: rgb(255 255 255 / 95%);
}

table, td {
  border: 0.1px solid black;
  border-spacing: 0;
}

td p {
  margin: 0.25rem 0;
}


td {
  padding: 0.25rem;
}


@media screen and (min-width: 768px) {
  body {
    overflow: scroll;
  }
}